*{
  box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  li {
    list-style: none;
  }
  .header {
    background-color: #1a41f0;
    height: 90px;
    color: white;
  }
  .header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
  }
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    /* Gantikan property display ke none */
    display: none;
  }
  .header-list {
    float: left;
  }
  .header-list li {
    float: left;
    padding: 20px 40px;
  }
  
  a {
    text-decoration: none;
  }
  .clear{
    clear: left;
  }
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(Background.jpg);
    background-size: cover;
    color:black;
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }
  
  .tour-wrapper {
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .tour {
    float: left;
    width: 25%;
  }
  
  .tour-icon {
    position: relative;
    size: 5px;
    padding-right: 5px;
  }
  
  .tour-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
  }
  
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #1a41f0;
    cursor: pointer;
    box-shadow: 0 7px #6495ED;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  .footer {
    background-color: #1a41f0;
    color: #fff;
    height: 120px;
    padding: 20px 30px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding-bottom: 20px;
  }
